<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LittleWorld</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LittleWorld.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="TOP_MENU" class="text-center">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        Currency:
                    </div>
                    <div class="col-2">
                        <h2 >LittleWorld</h2>
                    </div>
                    <div class="col-2">
                        3
                    </div>
                    <div class="col-2">
                        4
                    </div>
                    <div class="col-2">
                        5
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container VIEW">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="BOTTOM_MENU" class="footer text-muted">
        <div class="container">
            <button class="btn btn-warning"> just a btn</button>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
